services:
  frontend:
    build:
      context: .
      dockerfile: ./apps/frontend/Dockerfile
    image: frontend:local
    ports:
      - "8080:80"
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
    networks:
      - front-tier
      - back-tier
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_DB: gameoflife
      POSTGRES_USER: dino
      POSTGRES_PASSWORD: pollerbear
    networks:
      - back-tier
  # adminer:
  #  image: adminer
  #  restart: always
  #  ports:
  #    - 8080:8080
  api-gateway:
    build: 
      context: .
      dockerfile: ./apps/api-gateway/Dockerfile
    image: api-gateway:local
    ports:
      - "8081:8081"
    networks:
      - back-tier
    environment:
      JWT_SECRET_KEY: weneedtoreturntodinoisland
      POSTGRES_DB: gameoflife 
      POSTGRES_USER: dino
      POSTGRES_PASSWORD: pollerbear
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
  board-request-service:
    build:
      context: .
      dockerfile: ./apps/board-request-service/Dockerfile
    image: board-request-service:local
    ports:
      - "50051:50051"
    networks:
      - back-tier
  board-compute-service:
    build: 
      context: .
      dockerfile: ./apps/board-compute-service/Dockerfile
    image: board-compute-service:local
    ports:
      - "50052:50052"
    networks:
      - back-tier
    environment:
      POSTGRES_DB: gameoflife 
      POSTGRES_USER: dino
      POSTGRES_PASSWORD: pollerbear
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
networks:
  # The presence of these objects is sufficient to define them
  front-tier: {}
  back-tier: {}